.profile{
    font-weight: 700;
}
#userImage{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
#inza, #name{
    text-transform: capitalize;
}
#old,#New,#Repeat{

    /* height: 27px;
    width: 240px; */
    /* border-radius: 4px; */
    /* outline: none; */
    /* border: none; */
    /* outline: 1px solid gray; */
    /* margin-top: 10px; */
}
a{
    text-decoration: none !important;
    
}
.form-control::placeholder{
    font-size: 15px;
}
.form-control{
    box-shadow: none !important;
    /* border-color: black !important; */
    border: 3px solid #ced4da !important;
    /* font-size: 40px; */
}
.form-control:focus{
    outline: none;
    /* box-shadow: none; */
    /* border-color:#ced4da !important ; */

    /* border: none !important; */
}
.input-group{
    width: 300px !important; 
}

#New,#Repeat{
    /* margin-top: 18px; */
    /* width: 100px !important; */
}

::placeholder{
    color: gray;
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
    align-items: center;
}
/* .changePass{
    display: flex;
    flex-direction: column;
} */

#Update{
   
}



